meta(name="Description" content="An anime player that integrates with AniList, Simkl, Crunchyroll, and HIDIVE!")
meta(name="og:description" content="An anime player that integrates with AniList, Simkl, Crunchyroll, and HIDIVE!")
meta(name="Keywords" content="anime,player,anilist,simkl,list,crunchyroll,hidive,application,program,windows,mac,linux,cross-platform")

// Open Graph
meta(property='og:type', content='website')
meta(property='og:url', content='https://yuna.moe')
meta(property='og:title', content='Yuna - Anime Player and List Manager')
meta(property='og:description', content='An anime player that integrates with AniList, Simkl, Crunchyroll, and HIDIVE!')
meta(property='og:image', content='https://yuna.moe/img/card.jpg')

// Twitter
meta(property='twitter:card', content='summary_large_image')
meta(property='twitter:url', content='https://yuna.moe')
meta(property='twitter:title', content='Yuna - Anime Player and List Manager')
meta(property='twitter:description', content='An anime player that integrates with AniList, Simkl, Crunchyroll, and HIDIVE!')
meta(property='twitter:image', content='https://yuna.moe/img/card.png')
