meta(name="Description" content="An anime player that integrates with AniList and Crunchyroll!")
meta(name="og:description" content="An anime player that integrates with AniList and Crunchyroll!")
meta(name="Keywords" content="anime,player,anilist,list,crunchyroll,application,program")
meta(name="og:title" content="Yuna - Anime Player and List Manger")
meta(name="og:image", content="http://yuna.moe/img/logo-small.png")
