@import "./colors.scss";

@mixin raised($color) {
  background: $color;

  &:hover {
    background: lighten($color, 4%);
  }
  &:active {
    background: darken($color, 4%);
  }
}

button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  font-size: 1.25em;

  transition: background 0.1s, color 0.1s, fill 0.1s;

  & {
    color: $white;
    font-weight: 300;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    @include raised($highlight);
  }
}
