@import './colors.scss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  background: #0b0c13;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sanf-serif;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

p {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &.hint {
    color: $gray;
    font-size: 0.8em;
    font-style: italic;
  }
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: $main;
  margin: 40px 0;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
  z-index: 10;

  & > .item {
    height: 100%;
    margin: 0 15px;
    padding: 0 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 125px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.35em;
    cursor: pointer;

    &:last-child {
      justify-content: flex-start;
    }
  }

  & > .logo {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: $main;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    will-change: height, box-shadow;
    transition: box-shadow 0.5s;

    &.small {
      height: 50px;
      width: 50px;
      box-shadow: none;
    }
  }
}

img {
  position: relative;
  display: inline-block;
  border-radius: 12px;
  overflow: hidden;
  object-fit: contain;
}

.section {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 26vw;
  max-height: 350px;
  margin: 50px 0;

  & > .content {
    box-sizing: border-box;
    max-height: 200px;
    width: 100%;
    padding: 25px calc(50% + 25px) 25px 50px;
    background: $main;
    text-align: right;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    @media only screen and (max-width: 1000px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @media only screen and (min-width: 1250px) {
      padding-left: calc(50% - 600px);
    }
  }

  & > .image {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 600px;
    max-width: calc(50% - 75px);
    transform: translate(calc(100% + 25px), -50%);
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.75);
    transition: filter 0.2s;

    &.lazy {
      filter: blur(4px);
    }
  }
}
