@import './colors.scss';

$main-dark: darken($main, 7.5%);

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  background: #0b0c13;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sanf-serif;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

p {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &.hint {
    color: $gray;
    font-size: 0.8em;
    font-style: italic;
  }
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: $main;
  background: linear-gradient(0.25turn, $main-dark, $main, $main-dark);
  margin: 40px 0;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
  z-index: 10;

  & > .item {
    height: 100%;
    margin: 0 15px;
    padding: 0 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 125px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.35em;
    cursor: pointer;

    &:last-child {
      justify-content: flex-start;
    }
  }

  & > .logo {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: $main;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    will-change: height, box-shadow;
    transition: box-shadow 0.5s;

    &.small {
      height: 50px;
      width: 50px;
      box-shadow: none;
    }
  }
}

img {
  position: relative;
  display: inline-block;
  overflow: hidden;
  object-fit: contain;
}

.section {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 26vw;
  max-height: 400px;

  & > .content-container,
  & > .image-container {
    width: 100%;
    display: flex;
    align-items: center;
  }

  & > .content-container {
    justify-content: flex-end;
    max-height: 200px;
    padding: 25px 50px;
    background: linear-gradient(0.25turn, $main-dark, $main);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    & > .content {
      text-align: right;
      max-width: 600px;
    }
  }

  & > .image-container {
    position: relative;
    padding-right: 50px;

    & > .image {
      position: relative;
      width: 100%;
      max-width: 700px;
      border-radius: 12px;
      box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.75);
      transition: filter 0.2s;

      &.lazy {
        filter: blur(4px);
      }
    }
  }

  &:nth-child(odd) {
    & > .image-container {
      order: 0;
      padding-right: 0;
      padding-left: 50px;
      justify-content: flex-end;
    }

    & > .content-container {
      order: 1;
      justify-content: flex-start;
      background: linear-gradient(0.75turn, $main-dark, $main);

      & > .content {
        text-align: left;
      }
    }
  }
}
