<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    style.
      body { background: #111; }

    link(rel="stylesheet", href="/index.css")

    title Yuna - Anime Player and List Manger

  body
    .above-fold
      div wow cool stuff!
      .content Indeed!

    .below-fold.
      No one can see this :(

    script(src="/polyfill.min.js")
    script(src="/index.js")
