mixin lazyImg(file)
  img.image.lazy(
    src="img/flow-small/" + file + ".jpg"
    data-src="img/flow/" + file + ".jpg"
  )

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="theme-color" content="#212d47")
    link(rel="icon" href="icon.ico?v=1")

    style.
      body {
        background: #111;
        color: #eee;
        font-family: 'Lato', sans-serif;
        transition: background 1s;
      }

    link(rel="stylesheet" href="fonts/fonts.css")
    link(rel="stylesheet" href="css/index.css")

    title Yuna - Anime Player and List Manger

  body
    header
      img.logo(src="img/logo.png")

    .section
      .content
        h2 Watch anime and update your List from the same place!
        p With Crunchyroll integration you can watch any show available, with automatic list updating when you finish an episode!
      +lazyImg("anime")

    .section
      .content
        h2 Configurable spoiler hiding!
        p.
          Do you obsess over spoilers like a certain friend of mine?<br/>
          Hide info until you've already seen it in the show!
        p.hint Click the image to toggle the spoiler hiding!
      +lazyImg("anime-spoiler")

    .section
      .content
        h2 Watch anime and update your List from the same place!
        p With Crunchyroll integration you can watch any show available, with automatic list updating when you finish an episode!
      +lazyImg("list")

    .below-fold.
      No one can see this :(

    footer=isProd

    script(src="js/index.js")
