html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
}

.above-fold {
  display: flex;
  flex-direction: column;
  height: 1500px;
  color: greenyellow;

  & > div:first-child {
    font-weight: 700;
  }
}

.below-fold {
  color: red;
}
